* {
    margin: 0px;
    padding: 0px; 
}

.container {
    width: 1500px;
    margin: 0 auto;
    background-color: #f8f8f8;        
}

.header {
    background-color: #abeafa;
    height: 700px;
}

.logo {
    display: block;
    width: 131px;
    height: 83px;
    margin-left: 234px;
    margin-top: 24px;
    background: url(Catalog/images/logo.jpg);
    float: left;
}

.social {
    float: right;
    margin-right: 341px;
    margin-top: 50px;
}

.social a {
    margin-right: 15px;    
}

.welcome {
    width: 270px;
    height: 300px;
    background-color: #fff51f;
    margin-top: 201px;
    float: left;
    clear: both;
    margin-left: 165px;    
}

.wlcmtextbig{
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-top: 20px;
}

.wlcmtextsmall {
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
}

.text {
    width: 313px;
    height: 169px;
    float: right;
    margin-top: 108px;
    margin-right: 274px;
}

.content {
    height: 2317px;
}

.menu {
    width: 270px;
    height: 475px;
    float: left;
    /*border: 1px solid #c0c0c0;*/
    margin-left: 165px;
    margin-top: 0px;
    background-color: #26d2fc;
}

.menu h3 {
    background-color: #333333;
    height: 66px;
    color: #ffffff;
    font: 700 18px / 62px Roboto;
    padding-left: 42px;
}

.menu a {
    display: block;
    height: 43px;
    text-decoration: none;
    padding-left: 40px;
    color: #000;
    font: 700 18px / 50px Roboto;
}

.menu a:hover {
    color: #fff;
    background-color: #333333;
}

.newProducts {
    width: 870px;
    /*height: 724px;*/
    float: right;
    /*border: 1px solid #c0c0c0;*/
    margin-right: 165px;
    margin-top: 20px;
}

.newProducts > h2 {
    color: #707070;
    font: italic 900 22px Roboto;    
}

.newProducts > div {
    width: 270px;
    height: 320px;
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    background-color: #fff;
}

.newProducts > div > h3 {
    color: #333333;
    font: italic 900 20px / 18.012px Roboto;
    margin-top: 32px;
    margin-left: 20px;
    float: left;
}

.newProducts > div > h2 {
    color: #333333;
    font: italic 900 25px Roboto;
    margin-top: 50px;
    margin-right: 20px;
    float: right;
}

.newProducts a {
    display: block;
}

.newProducts a img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.topProducts {
    width: 870px;
    /*height: 400px;*/
    float: right;
    /*border: 1px solid #c0c0c0;*/
    margin-right: 165px;
    margin-top: 70px;
}

.topProducts > h2 {
    color: #707070;
    font: italic 900 22px Roboto;    
}
.topProducts > div {
    width: 270px;
    height: 320px;
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    background-color: #fff;
}

.topProducts > div > h3 {
    color: #333333;
    font: italic 900 20px / 18.012px Roboto;
    margin-top: 32px;
    margin-left: 20px;
    float: left;
}

.topProducts > div > h2 {
    color: #333333;
    font: italic 900 25px Roboto;
    margin-top: 50px;
    margin-right: 20px;
    float: right;
}

.topProducts a {
    display: block;
}

.topProducts a img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;    
}

.saleProducts {
    width: 870px;
    /*height: 400px;*/
    float: right;
    /*border: 1px solid #c0c0c0;*/
    margin-right: 165px;
    margin-top: 50px;
}

.saleProducts > h2 {
    color: #707070;
    font: italic 900 22px Roboto;    
}
.saleProducts > div {
    width: 270px;
    height: 320px;
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    background-color: #fff;
}

.saleProducts > div > h3 {
    color: #333333;
    font: italic 900 20px / 18.012px Roboto;
    margin-top: 32px;
    margin-left: 20px;
    float: left;
}

.saleProducts > div > h2 {
    color: #333333;
    font: italic 900 25px Roboto;
    margin-top: 50px;
    margin-right: 20px;
    float: right;
}

.saleProducts a {
    display: block;
}

.saleProducts a img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;    
}

.Pots {
    width: 870px;
    /*height: 500px;*/
    float: right;
    /*border: 1px solid #000;*/
    margin-right: 165px;
    margin-top: 85px;
}

.Pots h3 {
    color: #707070;
    font: italic 900 22px Roboto;    
}

.Pots > div {
    width: 270px;
    height: 320px;
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    background-color: #fff;
}

.Pots > div > a > img {
    /*width: 250px;*/
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.Pots > div > h3 {
    color: #333333;
    font: italic 900 20px / 18.012px Roboto;
    margin-top: 32px;
    margin-left: 20px;
    float: left;
}

.Pots > div > h2 {
    color: #333333;
    font: italic 900 25px Roboto;
    margin-top: 50px;
    margin-right: 20px;
    float: right;
}

.Grills {
    width: 870px;
    /*height: 500px;*/
    float: right;
    margin-right: 165px;
    margin-top: 70px;
}

.Grills h3 {
    color: #707070;
    font: italic 900 22px Roboto;    
}

.Grills > div {
    width: 270px;
    height: 320px;
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    background-color: #fff;
}

.Grills > div > a > img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.Grills > div > h3 {
    color: #333333;
    font: italic 900 20px / 18.012px Roboto;
    margin-top: 32px;
    margin-left: 20px;
    float: left;
}

.Grills > div > h2 {
    color: #333333;
    font: italic 900 25px Roboto;
    margin-top: 50px;
    margin-right: 20px;
    float: right;
}

.SmokeHouses {
    width: 870px;
    /*height: 500px;*/
    float: right;
    margin-right: 165px;
    margin-top: 70px;
}

.SmokeHouses h3 {
    color: #707070;
    font: italic 900 22px Roboto;    
}

.SmokeHouses > div {
    width: 270px;
    height: 320px;
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    background-color: #fff;
}

.SmokeHouses > div > a > img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.SmokeHouses > div > h3 {
    color: #333333;
    font: italic 900 20px / 18.012px Roboto;
    margin-top: 27px;
    margin-left: 20px;
}

.SmokeHouses > div > h2 {
    color: #333333;
    font: italic 900 25px Roboto;
    margin-top: 10px;
    margin-right: 20px;
    float: right
}

.image {
    width: 370px;
    height: 370px;
    background-color: #fff;
    float: left;
    margin-left: 38px;
    margin-top: 101px;
}

.image > img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.description {
    float: left;
    margin-left: 20px;
    margin-top: 100px;
    color: #353535;
    font: 700 24px Roboto;
}

.price {
    float: right;
    margin-right: 400px;
    margin-top: 50px;
    color: #111111;
    font: italic 500 20.94px / 20px Roboto;
}

.quickoverview {
    width: 600px;
    height: 100px;
    float: right;
    margin-top: 50px;
    margin-right: 30px;
    color: #353535;
    font: 400 12px / 20px Roboto;
}

.quickoverview p {
    color: #707070;
    font: 400 16px / 20px Roboto;
}

.addtocart input[type="button"] {
    width: 130px;
    height: 48px;
    background-color: #fb4d01;
    color: #ffffff;
    font: 400 21px / 20px Roboto;
    float: left;
    margin-left: 250px;
    margin-top: 15px;
}

.productdescriptionheader {
    width: 250px;
    height: 50px;
    background-color: #26d2fc;
    float: right;
    margin-top: 200px;
    margin-right: 715px;
    color: #333333;
    font: 400 14px / 20px Roboto;
}

.productdescriptioncontent {
    width: 871px;
    height: 290px;
    float: left;
    color: #808080;
    font: 400 17px / 20px Verdana;
    padding-top: 20px;
    margin-left: 480px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #c0c0c0;
}

.footer {
    background-color: #373737;
    height: 348px;
}

